@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}
$white: #FFFFFF;
$gold: #FFD700;
$black: #333333;
$border: 0.15rem solid $black;
$blue: #0984e3;
$light-color: #666666;
$light-bg: #eeeeee;
$box-shadow: 0 0.5rem 1rem rgba(0 , 0 , 0 , 0.2);

@mixin grid ($val){
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax($val , 1fr));
    gap: 2rem;
}

html{
    overflow-x: hidden;
    font-size: 85%;

    &::-webkit-scrollbar{
        width: 1rem;
    }

    &::-webkit-scrollbar-track{
        background-color: $light-bg;
    }

    &::-webkit-scrollbar-thumb{
        background-color: $blue;
        border-radius: 5rem;
    }
}

section{
    padding: 3rem 6%;
}

body{
    background-color: $light-bg;
}

.header{
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: $blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 6%;

    .logo{
        font-size: 2.5rem;
        color: #ffffff;
        font-weight: bolder;

        i{
            color: goldenrod;
        }
    }

    .search-form{
        border-radius: 5rem;
        width: 50rem;
        height: 4.5rem;
        padding: 0 2rem;
        display: flex;
        align-items: center;
        background-color: #ffffff;

        input{
            width: 100%;
            padding-right: 1rem;
            font-size: 1.5rem;
            text-transform: none;
            color: #666666;
        }
        label{
            font-size: 2rem;
            color: $light-color;
            cursor: pointer;

            &:hover{
                color: $blue;
            }
        }
    }

    .icons a,
    .icons div{
        font-size: 2rem;
        margin-left: 2rem;
        color: white;
        cursor: pointer;

        &:hover{
            color: goldenrod;
        }
    }
}

#search-btn{
    display: none;
}

.side-bar{
    position: fixed;
    top: 0;
    left: -100%;
    width: 28rem;
    height: 100%;
    background-color: white;
    z-index: 10000;
    
    &.active{
        box-shadow: 0 0 0 100vw rgba(0 , 0 , 0 , 0.6);
        left: 0;
    }

    #close-side-bar{
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        font-size: 3.5rem;
        cursor: pointer;
        color: $light-color;

        &:hover{
            transform: rotate(90deg);
            color: #B42B51;
        }
    }

    .user{
        padding: 2rem;
        background-color: $light-bg;
        text-align: center;

        img{
            height: 17rem;
            width: 17rem;
            border-radius: 50%;
            border: 1rem solid white;
            box-shadow: 0 0.5rem 1rem rgba(0 , 0 , 0 , 0.2);
            margin-bottom: 0.5rem;
        }
        h3{
            padding: 0.5rem 0;
            font-size: 1.7rem;
            color: $light-color;
        }

        a{
            font-size: 1.2rem;
            color: $blue;

            &:hover{
                color: $black;
            }
        }
    }

    .navbar{
        padding-top: 1rem;

        a{
            display: block;
            padding: 1rem 2rem;
            font-size: 1.5rem;
            color: $light-color;

            &:hover{
                color: $blue;
                i{
                    padding-right: 2rem;
                }
            }

            i{
                padding-right: 0.5rem;
            }
        }
    }
}

.banner{

    .box-container{
        @include grid(31rem);

        .box{
            position: relative;
            border: $border;
            height: 25rem;
            border-radius: 0.5rem;
            overflow: hidden;
            box-shadow: $box-shadow;

            &:hover img{
                transform: scale(1.1);
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .content{
                position: absolute;
                left: 7%;
                top: 47%;

                h3{
                    font-size: 1.5rem;
                    padding: 0.1rem 0;
                    color: $black;
                }

                span{
                    color: $blue;
                    font-size: 1.8rem;
                    font-weight: bold;
                }
            }
        }
    }
}


.quick-links{
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    background-color: $black;

    .links{
        a{
            font-size: 1.25rem;
            margin: 0 1rem;
            color: white;

            &:hover{
                color: goldenrod;
                text-decoration: underline;
            }
        }
    }

    .share{
        a{
            color: white;
            font-size: 2.2rem;
            margin-left: 1.9rem;

            &:hover{
                color: goldenrod;
            }
        }
    }

    .logo{
        font-size: 2.3rem;
        color: #ffffff;
        font-weight: bolder;

        &:hover{
            color: goldenrod;
        }

        i{
            color: goldenrod;
        }
    }
}

.credit{

    p{
        font-size: 1.2rem;
        color: $light-color;

        span{
            color: $blue;
        }
    }
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    background-color: white;

    img{
        filter: drop-shadow(0.2rem 0.2rem 0.2rem $black);
        height: 3.5rem;
    }
}

.home{
    background-color: white;
  
    .slide{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 2.5rem 0;
        min-height: 39rem;

        .image{
            flex: 1 1 42rem;
            text-align: center;

            img{
                height: 30rem;
            }
        }

        .content{
            flex: 1 1 42rem;

            h3{
                padding-top: 0.5rem;
                font-size: 2.5rem;
                color: $black;
            }

            span{
                font-size: 1.5rem;
                color: $blue;
            }
        }
    }
}
.heading{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3.5rem;
    color: $black;

    span{
        color: $blue;
    }

}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    color: white;
    background-color: $blue;
    cursor: pointer;

    &:hover{
        background-color: $black;
        font-weight: bolder;
        box-shadow: $box-shadow;
    }
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 2.8rem!important;
    color: $black;
}


.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;


    .image{
        flex: 1 1 42rem;

        img{
            width: 100%;
        }
    }
    .content{
        flex: 1 1 42rem;
        padding: 3rem;
        background-color: $white;

        h3{
            font-size: 3rem;
            text-transform: capitalize;
            color: $black;
        }
        p{
            font-size: 1.2rem;
            color: $light-color;
            padding: 1rem 0;
            line-height: 1;

        }
    }
}
.faq{
    .accordion-container{
        max-width: 65rem;
        margin: 0 auto;

        .accordion{
            background-color: $white;
            margin-bottom: 1.5rem;
            box-shadow: $box-shadow;

            &:last-child{
                margin-bottom: 0.5rem;
            }

            &.active{
                .accordion-heading
                {
                    background-color: $blue;
                }
                .accordion-content{
                    display: block;
                }
                i{
                    transform: rotate(-180deg);
                }
            }

            .accordion-heading{
                padding: 1.5rem;
                display: flex;
                align-items: center;
                gap: 1rem;
                justify-content: space-between;
                background-color: $black;
                cursor: pointer;

                h3{
                    font-size: 1.6rem;
                    color: $white;
                }

                i{
                    font-size: 2rem;
                    color: $white;

                }
            }
        }
        .accordion-content{
            padding: 1.5rem;
            font-size: 1.2rem;
            line-height: 2;
            color: $light-color;
            display: none;
            animation: fadeIn .2s linear;
        }
    }
}

.review{
    .heading{
        span{
            font-size: 3.5rem;
        }
    }
    .slide{
        width: 35rem;
        padding: 3rem;
        text-align: center;
        border: $border;
        box-shadow: $box-shadow;
        border-radius: 0.5rem;
        background-color: $white;
    }
    img{
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        margin-bottom: 0.5rem;
    }
    h3{
        font-size: 2rem;
       // padding: 0.5rem 0;
        color: $black;
    }
    span{
        font-size: 1.5rem;
        color: $blue;
    }
    p{
        font-size: 1.3rem;
        line-height: 2;
        color: $light-color;
        padding-top: 1rem;
    }
}
.category{
    .box-container{
        @include grid(12rem);

        .box{
            text-align: center;
            border-radius: 0.5rem;
            border:$border;
            padding: 1.2rem;
            background-color: $white;
            box-shadow: $box-shadow;

            &:hover{
                background-color: $black;
                h3{
                    color: $white;
                }
            }
            img{
                height: 8rem;
                margin-bottom: 0.5rem;
            }

            h3{
                font-size: 1.5rem;
                color: $black;


            }

        }

        .box.active{
            background-color: $black;
            h3{
                color: $white;
            }
        }
    }
}
.products{
    .box-container{
        @include grid(30rem);
        .box{
            border: $border;
            text-align: center;
            background-color: $white;
            box-shadow: $box-shadow;
            border-radius: 0.5rem;
            overflow: hidden;
            cursor: pointer;
            display: none;

            &:hover .image{
                .hover-img{
                    display: inline-block;
                    
                }
                .main-img{
                   
                    display: none;

                }
                .icons{
                    left: 1rem;
                }
            }
            .image{
                position: relative;
                img{
                    height: 25rem;
                    animation: fadeIn .2s linear;
                }
                .hover-img
                {
                    display: none;
                }

                .icons{
                    position: absolute;
                    top: 0;
                    left: -5rem;
                
                 a{
                        display: block;
                        margin-top: 0.2rem;
                        height: 3.2rem;
                        width: 3.2rem;
                        line-height: 3.2rem;
                        font-size: 1.5rem;
                        border-radius: 50%;
                        color: $white;
                        background-color: $black;

                        &:hover{
                        background-color: $blue;
                        }

                    }
                }
            }
            .content{
                padding-top: 0.01rem;
                background-color: $light-bg;
                h3{
                    font-size: 1.75rem;
                    color: $black;

                }
                .price{
                    font-size: 2rem;
                    color: $blue;
                    padding-bottom: 0.5rem;
                    padding-top: 0.4rem;
                    span{
                        color: $light-color;
                        text-decoration: line-through;
                        font-size: 1.2rem;
                    }
                }
                .stars{
                    i{
                        font-size: 1.2rem;
                        color: $gold;
                    }
                }
            }
        }
        .show{
            display: block;
        }
    }
}

.product-banner{

    .box-container{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        .box{
            flex: 1 1 42rem;
            position: relative;
            border-radius: 0.5rem;
            box-shadow: $box-shadow;
            border: $border;
            overflow: hidden;
            height: 30rem;

            &:hover img{
                transform: scale(1.1);
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .content{
                position: absolute;
                left: 5%;
                top: 50%;

                span{
                    font-size: 1.7rem;
                    font-weight: bold;
                    color: $blue;
                }

                h3{
                    padding-top: 0.5rem;
                    font-size: 2rem;
                    color: $black;
                }
            }
        }
    }
}

.info-container{

    .box-container{
        @include grid(31rem);

        .box{
            background-color: $white;
            border-radius: 0.5rem;
            padding: 2rem;
            text-align: center;
            box-shadow: $box-shadow;
            border: $border;

            h3{
                font-size: 2rem;
                padding: 0.5rem 0;
                color: $black;
            }

            p{
                font-size: 1.5rem;
                text-transform: none;
                color: $light-color;
                line-height: 3rem;
            }

            i{
                width: 7rem;
                height: 7rem;
                font-size: 2.5rem;
                line-height: 7rem;
                margin-bottom: 0.5rem;
                border-radius: 50%;
                background-color: $blue;
                color: white;
            }
        }
    }
}

.contact{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    form{
        flex: 1 1 42rem;

        h3{
            font-size: 2.7rem;
            color: $black;
            text-transform: uppercase;
            padding-bottom: 0.5rem;
        }

        p{
            font-size: 1.3rem;
            color: $light-color;
            padding: 1rem 0;
            line-height: 2;
        }

        .inputBox{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            input{
                width: 48%;
            }
        }
        .inputBox input, textarea{
            border-radius: 0.5rem;
            padding: 1.2rem 1.4rem;
            margin: 0.7rem 0;
            border: $border;
            box-shadow: $box-shadow;
            background-color: $white;
            color: $light-color;
            font-size: 1.5rem;
            text-transform: none;
        }
        textarea{
            height: 15rem;
            width: 100%;
            resize: none;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        span{
            color: red;
            font-weight: bold;
            font-size: 1.2rem;
            margin-left: 2rem;
            display: none;
        }

    }

    .map{
        flex: 1 1 42rem;
        width: 100%;
    }
}

.newsletter{
    background-color: $blue;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;

    .content{
        flex: 1 1 42rem;

        h3{
            font-size: 5rem;
            color: #fff;
        }

        p{
            font-size: 2rem;
            color: #fff;

            span{
                color: goldenrod;
                font-weight: bold;
            }
        }
    }

    form{
        display: flex;
        flex: 1 1 42rem;
        background-color: #fff;
        padding: 0.5rem;
        border-radius: 0.5rem;
        
        .email{
            width: 100%;
            font-size: 1.6rem;
            color: $light-color;
            padding: 0 1.4rem;
            text-transform: none;
        }

        .btn{
            margin-top: 0;
        }
    }
}

.register,
.login{

    form{
        max-width: 40rem;
        padding: 2rem;
        border-radius: 0.5rem;
        background-color: white;
        border: $border;
        box-shadow: $box-shadow;
        margin: 1rem auto;

        h3{
            font-size: 2.5rem;
            color: $black;
            padding-bottom: 1rem;
        }

        span{
            position: relative;
            right: -33rem;
            top: -4rem;
            color: #7a797e;
            font-size: 1.3rem;
            cursor: pointer;
        }

        .box{
            padding: 1.2rem 1.4rem;
            margin: 0.7rem 0;
            width: 100%;
            border-radius: 0.5rem;
            border: $border;
            font-size: 1.5rem;
            text-transform: none;
            color: $light-color;
        }
        .remember{
            display: flex;
            align-items: center;
            padding-bottom: 1rem;
            padding-top: 1.5rem;
            gap: 0.5rem;

            label{
                font-size: 1.2rem;
                color: $light-color;
                cursor: pointer;
            }
        }

        .btn{
            text-align: center;
            width: 100%;

            &:hover{
                transform: scale(1.02);
            }

            &.link{
                background-color: $black;

                &:hover{
                    background-color: $blue;
                    transform: scale(1.02);
                }
            }
        }

        p{
            padding-top: 1.5rem;
            padding-bottom: 0.5rem;
            font-size: 1.5rem;
            font-weight: bold;
            color: $light-color;
        }
    }

}

.shopping-cart{

    .box-container{
        @include grid(31rem);

        .box{
            padding: 2rem;
            border: $border;
            border-radius: 0.5rem;
            box-shadow: $box-shadow;
            background-color: white;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            position: relative;

            .fa-times{
                position: absolute;
                top: 1rem;
                right: 1.5rem;
                font-size: 2.3rem;
                color: $light-color;
                cursor: pointer;

                &:hover{
                    color: #dc143c;
                }
            }
            img{
                height: 13rem;
            }

            .content{

                h3{
                    color: $black;
                    font-size: 1.5rem;
                }

                form{
                    padding: 1rem 0;
                    display: flex;
                    gap: 0.5rem;
                    align-items: center;

                    span{
                        font-size: 1.3rem;
                        color: $light-color;
                    }

                    input{
                        width: 7rem;
                        padding: 0.5rem 1rem;
                        border-radius: 0.5rem;
                        background-color: $light-bg;
                        color: $light-color;
                        font-size: 1.3rem;
                    }
                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }
                .price{
                    font-size: 1.7rem;
                    color: $black;

                    span{
                        font-size: 1.3rem;
                        color: $light-color;
                        text-decoration: line-through;
                    }
                }
            }
        }
    }
    .cart-total{
        margin-top: 2rem;
        box-shadow: $box-shadow;
        border: $border;
        border-radius: 0.5rem;
        background-color: white;
        padding: 2rem;
        padding-top: 1rem;

        h3{
            padding-top: 1rem;
            font-size: 1.7rem;
            color: $black;

            span{
                color: $blue;
            }
        }
    }

    .discount-box{
        padding: 2rem 0.5 1rem 0.5rem;
        margin-top: 2rem;

        #js-apply-promo{
            cursor: pointer;
            font-size: 1.4rem;
            font-weight: bolder;
            text-decoration: underline 0.15rem $black;
        }

        .promo-box{
            display: none;
        }

        .promo-input{
            border-radius: 0.5rem;
            padding: 0.8rem 0.5rem;
            margin: 0.7rem 0;
            border: $border;
            box-shadow: $box-shadow;
            background-color: $white;
            color: $light-color;
            font-size: 1.5rem;
            text-transform: none;
        }

        .btn{
            display: inline-block;
            margin-top: 1rem;
            margin-left: 0.5rem;
            padding: 0.8rem 2.2rem;
            border-radius: 0.5rem;
            font-size: 1.5rem;
            color: white;
            background-color: $blue;
            cursor: pointer;
        
            &:hover{
                background-color: $black;
                font-weight: bolder;
                box-shadow: $box-shadow;
            }
        }

    }



}


.images-group{
    display: flex;
    justify-content: space-between;
}

.small-img-square{
    cursor: pointer;
    flex-basis: 18%;
    border: $border;
}

.single-product input{
    width: 4rem;
    height: 3.5rem;
    padding-left: 1.5rem;
    font-size: 1.6rem;
    margin-right: 1rem;
    border: $border;
}

.single-product input:focus{
    border: none;
}

.custom{

    a{
        color: $light-color;
        font-size: 1.2rem;
        
        &:hover{
            cursor: pointer;
            color: $black;
        }
    }
    
    h3{
        font-weight: bold;
        font-size: 2rem;
        padding: 2rem 0;
    }

    h6{
        color: $light-color;
        font-size: 1.2rem;
    }

    h4{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    h2{
        font-weight: bolder;
        font-size: 2.3rem;
    }

    button{
        margin: auto;
        padding: 0.8rem;

        &:hover{
            font-weight: bolder;
            color: white;
        }
    }

    li{
        font-size: 1.1rem;
        line-height: 2rem;
    }

}


// Start of Media queries

@media (max-width: 1329px){

    html{
        font-size: 60%;
    }
    .header{
        padding: 2rem;
    }

    section{
        padding: 3rem 1.5rem;
    }

}




@media (max-width: 1200px){

    html{
        font-size: 50%;
    }
    .header{
        padding: 2rem;
    }

    section{
        padding: 3rem 1.5rem;
    }
}

.arrivals{
    .box-container{
        @include grid(33rem);
        .box{
            border-radius: .5rem;
            border:$border;
            padding:2rem;
            box-shadow: $box-shadow;
            display: flex;
            align-items: center;
            gap: 1rem;
            background-color: $white;

            &:hover{
                .image{
                    .main-img{
                        display: none;
                    }
                    .hover-img{
                        display: inline-block;
        
        
                    }   
                }
            }
            .image{
                img{
                    height: 15rem;
                    animation: fadeIn .2s linear;
                }
                .hover-img{
                    display: none;
                    
    
    
                }  
             
            }
            .content{
                font-size: 2rem;
                color: $black;
            }
            .price{
                padding-top: .5rem;
                padding-bottom: .7rem;
                font-size: 2rem;
                color: $blue;


                span{
                    font-size: 1.5rem;
                    color: $light-color;
                    text-decoration: line-through;
                }
            }
            .stars i{
                font-size: 1.5rem;
                color: $gold;
            }
        }
    }
}


@media (max-width: 990px){

    .quick-links{
        flex-flow: column;
        text-align: center;

        .links{
            padding: 1rem 0;
            a{
                font-size: 2rem;
                display: block;
                padding: 1rem 0;  
            }
        }
        .share{
            a{
                margin: 0 1rem;
            }
        }
    }

    .credit{
        flex-flow: column;
        text-align: center;
    }
}

@media (max-width: 768px){
@keyframes fadeIn {
    0%{
        transform: scale(.5);
        opacity: 0;
    }
    
}
    #search-btn{
        display: inline-block;
    }
    .header{
        .search-form{
            position: absolute;
            top: 100%;
            right: 0;
            left: 0;
            width: 100%;
            height: 5.5rem;
            border-radius: 0;
            box-shadow: $box-shadow;
            clip-path: polygon(0 0 , 100% 0 , 100% 0 , 0 0);

            &.active{
                clip-path: polygon(0 0 , 100% 0 , 100% 100% , 0 100%);
            }
        }
    }

    .swiper-button-next,
    .swiper-button-prev{
        display: none!important;
    }

    .home{
        .slide{
            text-align: center;
        }
    }

    .newsletter{
        text-align: center;

        .content{
            h3{
                font-size: 3.5rem;
            }
            p{
                font-size: 1.5rem;
            }
        }
    }

}


@media (max-width: 450px){
    
    html{
        font-size: 45%;
    }

    .header{
        justify-content: center;

        .logo{
            display: none;
        }

        .icons a,
        .icons div{
            margin: 0 1rem;
        } 
    }
    .home{
        .slide{
            .image{
                img{
                    height: auto;
                    width: 100%;
                }
            }
        }
    }
    .arrivals .box-container .box{
        flex-flow: column;
        gap:2rem;
        text-align: center;
    }

    .content form .inputBox input{
        width: 100%;
    }

    .shopping-cart .cart-total{
        text-align: center;

        .btn{
            width: 100%;
        }
    }
}



