@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: #0984e3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem 6%;

}

.header .logo {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: bolder;
}

.header a{
    margin-left: 33rem;
}

.header a:hover{
    color: goldenrod;
    text-decoration: none;
}
  
  .header .logo i {
    color: goldenrod;
}

.container-fluid .employeeText{
    margin-bottom: 0.3rem;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
}

.container-fluid .btn{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    float: right;
    border-radius: 0.5rem;
}

.form-group label {
    font-family: 'Poppins', sans-serif;
    font-size: 1.05rem;
    font-weight: bold;
}



@media (max-width: 1418px){
    .header .logo{
        font-size: 2rem;
        margin-left: 25rem;
    }
}


@media (max-width: 1108px){
    .header .logo{
        font-size: 1.5rem;
        margin-left: 20rem;
    }
}